@use '../../../../styles/mixins/' as*;

.about {

  &__inner {
    display: flex;
    justify-content: flex-end;
    background-image: url('/src/assets/images/home/about-bg.webp');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: left center;

    @include size('padding-top', 140, 35);
    @include size('padding-bottom', 175, 35);

    @include rmax($md) {
      padding-block: 35px;
      background-size: cover;
      justify-content: center;
    }
  }

  .content {
    max-width: 470px;
    background-color: rgba(#fff, 0.9);

    @include rmax($xl) {
      padding: 15px;
      border-radius: 5px;
    }
  }

  .title {
    margin-bottom: 50px;
  }

  .text {
    margin-bottom: 25px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}