.tabs {

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &-content {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    &.active {
      position: relative;
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
  }
}