@use '../../../styles/mixins/' as*;

.header {
  background-color: #212223;
  color: var(--c-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-top {
  border-bottom: 1px solid var(--c-white);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
  }
}

.contact-info {
  display: flex;
  gap: 40px;

  @include rmax($md) {
    font-size: 0;
    gap: 16px;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--c-pink)
    }

    &::before {
      background-color: var(--c-lightgray);
    }

  }
}

.header-bottom {
  padding-block: 30px 30px;

  @include rmax($md) {
    padding-block: 10px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 32px;

  @include rmax($md) {
    position: absolute;
    top: 100%;
    left: -200%;
    width: 100%;
    padding-block: 30px;
    padding-inline: 15px;
    background-color: var(--c-pink);
    opacity: 0;
    flex-direction: column;
    gap: 24px;
    transition: left 0.3s ease-in-out;
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    transition: color 0.3s ease-in-out;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }

    &--active {
      &::after {
        background-color: var(--c-white);
      }
    }

    @include hover {
      color: var(--c-pink);
    }
  }
}

.burger.burger--active+.menu {
  @include rmax($md) {
    opacity: 1;
    left: 0;
  }
}