@use '../../../../styles/mixins/' as*;

.advantages {

  &__inner {
    display: flex;
    justify-content: flex-start;
    background-image: url('/src/assets/images/about/about-advantages.webp');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right center;
    @include size('padding-top', 100, 35);
    @include size('padding-bottom', 100, 35);
  }

  .content {
    max-width: 530px;
    background-color: rgba(#fff, 0.9);

    @include rmax($xl) {
      padding: 15px;
      border-radius: 5px;
    }
  }

  .title {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 90px;

    @include rmax($md) {
      gap: 15px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 300;

      &::before {
        content: '';
        width: 18px;
        height: 18px;
        @include mask-contain;
        mask-image: var(--icon-list-item);
        background-color: var(--c-pink);
      }
    }
  }
}